# ./
configure
config.status
config.log
include
objects
autom4te.cache
lib
Makefile
aclocal.m4
src/ppm_define.h

# output files
*.out
*.sub
*.dat
*.o
*.mod
fort.*

# src/interpolate/test/
src/interpolate/test/ppm_test_interp_m2p
src/interpolate/test/ppm_test_interp_p2m

# src/neighlist/test/
src/neighlist/test/ppm_test_inl2d
src/neighlist/test/ppm_test_inl2d_2
src/neighlist/test/ppm_test_inl3d
src/neighlist/test/ppm_test_inl3d_2


# temporary files
*.swp
*~

# funit
TestRunner*
makeTestRunner
src/*/*/*_fun.*
test__genmod.f90
test_runner.*

